<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages enableViewStateMac="false" />
    </system.web>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITop10ContentWordsService" maxReceivedMessageSize="6553600">
                  <readerQuotas maxStringContentLength="6553600" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Top10ContentWordsServiceLibrary/Top10ContentWordsService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITop10ContentWordsService"
                contract="Top10ContentWordsServiceProxy.ITop10ContentWordsService"
                name="BasicHttpBinding_ITop10ContentWordsService" />
        </client>
    </system.serviceModel>
</configuration>
