<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <pages enableViewStateMac="false" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStemmingService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/StemmingServiceLibrary/StemmingService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStemmingService"
        contract="StemmingServiceProxy.IStemmingService" name="BasicHttpBinding_IStemmingService" />
    </client>
  </system.serviceModel>
</configuration>
